

/* Nadbar*/

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: #f0f0f0;
}

/*Footer*/

.footer {
  position:relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.footer-content {
  padding: 10px;
}
